<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="twilio:AccountSid"  value="" />
    <add key="twilio:AuthToken"   value="" />
    <add key="twilio:PhoneNumber" value="" />
    <add key="virgil:AccessToken" value="" />
    <add key="virgil:AppPrivateKey" value="" />
    <add key="virgil:AppPrivateKeyPassword" value="" />
  </appSettings>
</configuration>