<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-sdk android:minSdkVersion="15" />
  <application android:label="Virgil.Demo.SMS.Droid">
    <!--<receiver android:name="SMSBroadcastReceiver">
      <intent-filter>
        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
      </intent-filter>
    </receiver>-->
  </application>
  <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
  <uses-permission android:name="android.permission.READ_SMS" />
  <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
</manifest>