.auth-form{
	background-color: rgb(245, 245, 245);
	padding: 0 30px 30px 30px;
	margin-top: 100px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #ccc;
	min-height: 380px;
}

h3.title {
	margin-top: 30px;
	margin-bottom: 30px;
}

.auth-form .auth-form-footer{   
	position:absolute; 
	bottom:0;
	width: 100%;
	padding-right: 90px;
	margin-bottom: 30px;
}

.form-loading {
	text-align: center;
	margin-top: 110px;
}

.form-loading img {
	width: 30px;
}

.form-confirm {
}

.chat-header{
	padding-right: 15px;
	border-radius: 5px 5px 0 0;
	margin-bottom: 0;
}

.chat-content {
	border-width: 1px;
	border-top-width: 0;
	border-bottom-width: 0;
	border-color: #e7e7e7;
	border-style: solid;
	height: 350px;
	overflow-y: scroll;
	padding: 15px;
}


.chat-input-panel {
	background-color: #f8f8f8;
	border-width: 1px;
	border-style: solid;
	border-color: #e7e7e7;
	padding: 15px;
}

.chat-input-group input[type="text"] {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


p.chat-message {
	padding: 10px;
	background-color: #e6e5ea;
	border-radius: 5px;
	margin-right: 100px;
}

p.chat-message-my {
	padding: 10px;
	background-color: #D3ECFF;
	border-radius: 5px;
	margin-left: 100px;
}

.chat-message-author {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
}

.chat-message-body {
	font-size: 12px;
}