extends layout

block content
  div(class='container', ng-controller='mainCtrl')
    div(class='row')
      div(class='col-md-9 col-xs-9')
        h1 Virgil Crypto
      div(class='col-md-3 col-xs-3 text-right')    
        button(class='btn btn-success', ng-click='startBenchmark()')
          span(class='glyphicon glyphicon-play', aria-hidden='true')
    hr
    p(class='description') This is a virgil benchmark that measures a Crypto Library's performance by running a suite of tests.
        
    div(class='row')
      div(class='col-md-6')
        div(class='form-group')
           label Key Pair type
           select(class='form-control', ng-model='keysType')
             option(value='Default') Default
             option(value='RSA_256') RSA_256 (RSA 256 bit)
             option(value='RSA_512') RSA_512 (RSA 512 bit)
             option(value='RSA_1024') RSA_1024 (RSA 1024 bit)
             option(value='RSA_2048') RSA_2048 (RSA 2048 bit)
             option(value='RSA_3072') RSA_3072 (RSA 3072 bit)
             option(value='RSA_4096') RSA_4096 (RSA 4096 bit)
             option(value='RSA_8192') RSA_8192 (RSA 8192 bit)
             option(value='EC_SECP192R1') EC_SECP192R1 (192-bits NIST curve)
             option(value='EC_SECP224R1') EC_SECP224R1 (224-bits NIST curve)
             option(value='EC_SECP256R1') EC_SECP256R1 (256-bits NIST curve)
             option(value='EC_SECP384R1') EC_SECP384R1 (384-bits NIST curve)
             option(value='EC_SECP521R1') EC_SECP521R1 (521-bits NIST curve)
             option(value='EC_BP256R1') EC_BP256R1 (256-bits Brainpool curve)
             option(value='EC_BP384R1') EC_BP384R1 (384-bits Brainpool curve)
             option(value='EC_BP512R1') EC_BP512R1 (512-bits Brainpool curve)
             option(value='EC_SECP192K1') EC_SECP192K1 (192-bits Koblitz curve)
             option(value='EC_SECP224K1') EC_SECP224K1 (224-bits Koblitz curve)
             option(value='EC_SECP256K1') EC_SECP256K1 (256-bits Koblitz curve)
             
      div(class='col-md-6')
        div(class='form-group')
           label Count of recipients
           select(class='form-control', ng-model='recipientsCount')
             option 1
             option 2
             option 3
             option 4
             option 5
             option 6
             option 7
             option 8
             option 9
             option 10
           
    div(class='form-group')
        label Enter some text to encrypt or generate with&nbsp;
        a(class='baconipsum', ng-click='loremIpsum()', src='#') Becon Ipsum
        textarea(ng-model='text',class='form-control', resize='none', rows='7')
        
    div(ng-show='logs.length')
      h4 Output      
      table
        tr(ng-repeat='log in logs')
          td {{log.desc}}
          td 
          td(class='result'){{log.result}}
          
    div
      p(class='error-message') {{error}}
      p(class='done-message') {{done}}