doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
  body(ng-app='cryptoTester')
    block content
    script(src="https://cdn.virgilsecurity.com/packages/javascript/sdk/latest/virgil-sdk.min.js")
    script(src='/js/main.js')
    script(src='/js/app.js')