<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secure Messaging</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <div class="row" data-bind="visible: currentState() < 3">
            <div class="col-md-4 col-md-offset-4">
                <div class="auth-form">
                    <h3 class="text-center">
                        <b>Virgil & Twilio</b>
                    </h3>
                    <h5 class="text-center">IP Messaging</h5>
                    <div data-bind="visible: currentState() == 0" style="display: none">
                        <br />
                        <form data-bind="submit: verifyEmail">
                            <div class="form-group">
                                <p class="text-danger" data-bind="visible: errorText && errorText().length > 0, text: errorText" role="alert"></p>
                                <p class="help-block">This e-mail address used to register your public key on our service.</p>
                                <input type="text" data-bind="enable: !hasPrivateKey(), value: email, valueUpdate: 'input'" class="form-control" id="Email" placeholder="E-mail">
                            </div> 
                            <div class="auth-form-footer">
                                <hr />
                                <button type="submit" data-bind="enable: email()" class="btn btn-primary btn-block">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="form-confirm" data-bind="visible: currentState() == 1" style="display: none">
                        <form data-bind="submit: confirmAndLogin">
                            <br />
                            <div class="form-group">
                                <p class="text-danger" data-bind="visible: errorText().length > 0, text: errorText" role="alert"></p>
                                <p class="help-block">Please check your e-mail box and use confirmation code to verify your account.</p>
                                <input type="text" data-bind="value: confirmCode, valueUpdate: 'input'" class="form-control" placeholder="Confirmation Code">
                            </div>
                            <div class="form-group">
                                <a href="#" data-bind="click: exit">Back to Login</a>
                            </div>
                            <div class="auth-form-footer">
                                <hr/>
                                <button type="submit" data-bind="enable: confirmCode" class="btn btn-primary btn-block">Confirm</button>
                            </div>
                        </form>
                    </div>
                    <div class="form-loading" data-bind="visible: currentState() == 2">
                        <img src="/img/loading.gif" />
                        <h5 data-bind="text: loadingText">Loading...</h5>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="visible: currentState() == 3" style="display: none">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center title">
                        <b>Virgil & Twilio</b> IP Messaging
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <nav class="navbar navbar-default chat-header">
                        <div class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <div class="btn-group">
                                    <button type="button" data-bind="enable: !isCurrentChannelLoading()" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span data-bind="text: currentChannelCaption"></span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" data-bind="foreach: channels">
                                        <li><a href="#" data-bind="text: friendlyName, click: $root.setChannel"></a></li>
                                    </ul>
                                </div>
                                <button type="button" data-toggle="modal" data-bind="enable: !isCurrentChannelLoading()" data-target="#createChannelModal" class="btn btn-default">Create</button>
                                <button type="button" data-toggle="modal" data-bind="click: deleteChannel, enable: !isCurrentChannelLoading(), visible: currentChannel() && currentChannel().createdBy == currentUserCaption()" class="btn btn-danger">Delete</button>
                                <img style="width: 20px;" data-bind="visible: isCurrentChannelLoading" src="/img/loading.gif" />
                            </div>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-bind="text: currentUserCaption" aria-haspopup="true" aria-expanded="false"></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" data-bind="click: exit">Exit</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div id="chatBox" class="chat-content" data-bind="foreach: messages">
                        <p data-bind="css: { 'chat-message-my': author == $root.currentUserCaption(), 'chat-message': author != $root.currentUserCaption() }">
                            <span class="chat-message-author" data-bind="text: author"></span><br />
                            <span class="chat-message-body" data-bind="text: body"></span>
                        </p>
                    </div>
                    <div class="chat-input-panel">
                        <div class="input-group">
                            <input type="text" data-bind="enable: currentChannel() && !isCurrentChannelLoading(), value: inputMessage, valueUpdate: 'afterkeydown', executeOnEnter: postMessage" class="form-control" placeholder="Type a message here">
                            <span class="input-group-btn">
                                <button data-bind="click: postMessage, enable: inputMessage().length > 0 && currentChannel() && !isCurrentChannelLoading()" class="btn btn-primary btn-chat" type="button">Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="createChannelModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create Channel</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="channelName">Channel Name</label>
                            <input type="email" class="form-control" id="channelName" data-bind="value: newChannelName, valueUpdate: 'afterkeydown'" placeholder="Enter Name...">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-bind="checked: isNewChannelHistory"> History
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: createChannel, enable: !isCurrentChannelLoading() && newChannelName().length > 0">Create</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/rtc/js/ip-messaging/releases/0.9.6/twilio-ip-messaging.min.js"></script>
    <script src="https://cdn.virgilsecurity.com/packages/javascript/sdk/1.2.0/virgil-sdk.min.js"></script>
    <script src="/js/knockoutjs.utils.js"></script>
    <script src="/js/notify.min.js"></script>
    <script src="/js/FileSaver.js"></script>
    <script src="/js/app.js?83094A4F-D236-4EE7-AA75-95224DEB881A"></script>
    <script type="text/javascript">
        ko.applyBindings(new App());
    </script>

</body>
</html>